<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>タイトル</title>
  <link href="./css/reset.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <link href="./css/utility.css" rel="stylesheet">
  <script src="./js/jquery-2.1.4.min.js"></script>
</head>

<body>
  <header>
    <div class="container">
      <nav class="nav-other">
        <ul>
          <li><a href="">サイトトップ</a></li>
          <li><a href="">セクショントップ</a></li>
        </ul>
      </nav>
      <h1 class="h1">h1タイトル</h1>
      <p class="lead">サイトリード文</p>
    </div>
  </header>
  <nav class="nav-global">
    <ul class="container">
      <li><a id="nav1" href="">トップ</a>
        <ul>
          <li><a href="">トップ-サブメニュー</a>
          <li><a href="">トップ-サブメニュー</a>
          <li><a href="">トップ-サブメニュー</a>
        </ul>
      </li>
      <li><a id="nav2" href="">test1</a>
        <ul>
          <li><a href="">test1-サブメニュー</a>
          <li><a href="">test1-サブメニュー</a>
          <li><a href="">test1-サブメニュー</a>
        </ul>
      </li>
      <li><a id="nav3" href="">test2</a>
        <ul>
          <li><a href="">test1-サブメニュー</a>
          <li><a href="">test1-サブメニュー</a>
          <li><a href="">test1-サブメニュー</a>
          <li><a href="">test1-サブメニュー</a>
        </ul>
      </li>
      <li><a id="nav4" href="">test3</a>
        <ul>
          <li><a href="">test1-サブメニュー</a>
          <li><a href="">test1-サブメニュー</a>
        </ul>
      </li>
    </ul>
  </nav>
  <nav class="breadcrumb">
    <ol class="container">
      <li><a href="../../">トップ</a></li>
      <li><a href="../">second</a></li>
      <li>third</li>
    </ol>
  </nav>
  <main class="container">
    <article>
      <header>
        <h2 class="h2"></h2>
        <p></p>
      </header>
      <section>
        <h3 class="h3"></h3>
        <p></p>
        <section>
          <h4 class="h4"></h4>
          <p></p>
        </section>
      </section>
    </article>
  </main>
  <footer>
    <p class="container">
      <small class="copyright">© 最初の発行の年 著作権者</small>
    </p>
  </footer>
</body>

</html>
