//
// modalEx
// --------------------------------------------------
.modalEx {
    &.modalEx-error {
        .content{
            text-align: center;
        }
        .message {
            text-align: left;
            padding: $padding-small-vertical;
            margin: 20px auto;
            background-color: #dddddd;
            border: 1px solid #c9c9c9;
            border-radius: $border-radius-small;
            word-break: break-all;
        }
    }
    .modal-header {
        &.modalEx-drag-handle {
            cursor: move;
        }
    }
    .modal-dialog {
        z-index: $zindex-modal;
    }
    .modal-footer {
        text-align: left;
        .modalEx-btns-left {
            float: left;
            text-align: left;
        }
        .modalEx-btns-right {
            float: right;
            text-align: right;
        }
    }
}
// モーダルの幅指定
@media (min-width: $screen-sm-min) {
    .modal-sm,
    .modal-300 {
        width: $modal-sm;
    }
    .modal-400 {
        width: 400px;
    }
    .modal-500 {
        width: 500px;
    }
    // modalのデフォルト値
    .modal-md,
    .modal-600 {
        width: $modal-md;
    }
    .modal-700 {
        width: 700px;
    }
    .modal-750 {
        width: 750px;
    }
    .modal-lg,
    .modal-900,
    .modal-full
    {
        width: auto;
        margin: 10px;
    }
}
@media (min-width: $screen-md-min) {
    .modal-lg,
    .modal-900
    {
        width: $modal-lg;
        margin: 30px auto;
    }
}
// モーダルのアニメーション
.modal {
    &.zoom .modal-dialog {
        @include opacity(0);
        @include scale(0.5,0.5);
        @include transition(opacity 0.3s linear,0.3s transform linear);
    }
    &.zoom.in .modal-dialog {
        @include opacity(1);
        @include scale(1,1);
    }
}