
/* 注釈(annotationはannotationの略)
============================================================================= */
.annotation>ul,
.annotation>ol {
  color: #666;
  font-size: 12px;
  list-style: none;
  margin: 5px 0;
}
.annotation>ul>li,
.annotation>ol>li {
  position: relative;
}
.annotation>ul>li::before,
.annotation>ol>li::before {
  position: absolute;
}
.annotation>ul>li+li,
.annotation>ol>li+li {
  margin-top: 7px;
}
.annotation>ul {
  padding-left: 1.25em;
}
.annotation>ul>li::before {
  content: '※';
  left: -1.25em;
}
.annotation>ol {
  counter-reset: count;
  padding-left: 2.5em;
}
.annotation>ol>li::before {
  counter-increment: count;
  content: "※" counter(count);
  left: -2.5em;
}
.sup-annotation, .sub-annotation {
  color: #666;
  font-size: 85%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.sup-annotation {
  top: -0.5em;
}
.sub-annotation {
  bottom: -0.25em;
}


/* モーダル用
============================================================================= */
.modal-body {
  overflow: hidden !important;
}


/* ユーティリティ
============================================================================= */
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.disabled {
  cursor: default;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-hidden {
  font: "0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
