<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--base href="http://foo.com/hoge/"-->
  <title>タイトル</title>
  <link href="./css/reset.css" rel="stylesheet">
  <link href="./css/common2.css" rel="stylesheet">
  <script src="./../common/js/jquery.js"></script>
  <script src="./js/common.js"></script>
</head>

<body class="site">
<div class="wrap">
  <div class="container">
    <header class="site-header">
        <h1 class="site-title">サイトのタイトル</h1>
        <p class="site-lead">サイトのリード文</p>
        <nav class="site-nav">
          <ul>
            <li><a href="./">TOP</a></li>
            <li><a href="./">TOP</a></li>
            <li><a href="./">TOP</a></li>
            <li><a href="./">TOP</a></li>
            <li><a href="./">TOP<br>改行を入れてみる</a></li>
          </ul>
        </nav>
    </header>

    <nav class="breadcrumbs">
      <ol>
        <li><a href="./">TOP</a></li>
        <li><a href="./">TOP</a></li>
        <li><a href="./">TOP</a></li>
        <li><a href="./">TOP</a></li>
      </ol>
    </nav>

    <main class="site-contents">
      <article class="page">
        <header class="page-header">
          <h2 class="page-title">ページのタイトル</h2>
          <p class="page-lead">ページのリード文</p>
        </header>

        <nav class="page-nav">
          <ul>
            <li><a href="#sect1">セクション１</a></li>
            <li><a href="#sect2">セクション２</a></li>
          </ul>
        </nav>

        <section id="sect1" class="page-body sect">
          <h3 class="sect-title">セクション1のタイトル</h3>
          <p class="sect-body">ヘッダーとフッターが決まった幅のサンプル<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
        </section>

        <section id="sect2" class="page-body sect">
          <h3 class="sect-title">セクション2のタイトル</h3>
          <p class="sect-body">ヘッダーとフッターが決まった幅のサンプル<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
        </section>
      </article>
    </main>

    <aside class="page-top">
      <a href="#top">ページトップ</a>
    </aside>

    <footer class="site-footer">
      <small class="copyright">コピーライト</small>
    </footer>
  </div>
</div>
</body>
</html>